../.DS_Store
../Interview Practice/
../JavaScript30/
../Portfolio-V2/
../Portfolio/
../PricingPanel/
../React Projects/
../The-Web-Developer-Bootcamp-By-Colt-Steele-Exercises/
../The-Web-Developer-Bootcamp-by-Colt-Steele/
../Udacity-Landing-Page/
../Udacity-Weather-App/
../Weather-Journal-App.zip
../Weather-Journal-App/
../Web API Work/
../Web-API-Work/
../course-JS-and-the-DOM/
../documents/
../fend-webpack-content/
../new-git-project/
../udacity-git-course/