@import "navbar.css";
@import "header-and-footer.css";
@import "blog-post-components.css";
@import "related-posts.css";
@import "blog-cards.css";

body {
    background-color: #eef;
    font: 1rem 'roboto', sans-serif;
    color: #30323d;
    margin-bottom: 0;
}

a {
    color: #30323d;
    text-decoration: none;
}

/* header */
.blog-post-header {
    height: 30vh;
    background-image: url(../images/wireframes.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    overflow: hidden;
    border-bottom: 2px solid #e8C547;
    margin-left: -23px;
    width: 100vw;
    margin-top: 38px;
}

.header-content {
    width: 50%;
    height: 100%;
}

/* main content */

.blog-post {
    padding: 10px 20px;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}